
<div class="col-sm-12 animals">
  <h2 id="animals" class="text-center mt50">Choose from one of these beauties!</h2>
  <section class="row">

    {{#each animals as | animal | }}
      <div class="col-md-4 mt50 mb50">
        <figure>
          <div class="circle-image">
            <img src="/assets/images/{{animal.name}}.png" alt="{{animal.name}}">
          </div>
          <figcaption class="text-center animal-detail">
            <p>{{animal.name}} £{{animal.price}}</p>
            <p><em>"{{animal.comment}}"</em></p>
          </figcaption>
        </figure>
        <a class="btn" role="button" {{action 'renderEnquiryForm'}}>
          Enquire
        </a>
      </div>
    {{/each}}

  </section>
</div>
