<div class="container">

  {{nav-bar}}

  <div class="divider"></div>

  <div class="container body">
    <div class="row">
      {{product-list}}
      {{animals}}
      {{contact}}
      {{outlet}}
    </div>
  </div>

  <footer>
    <div class="divider"></div>
    <p class="signature">©2016 Pet Shop!</p>
  </footer>

</div>
