<div class="container">

  {{nav-bar}}

  <div class="divider"></div>

  <div class="container body">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{product-list}}
        {{animals}}
        {{contact}}
        {{outlet}}
      </div>
    </div>
  </div>

  <section class='footer'>
    <article class='footer-content-container'>
      <p class='signature'>©2016 Pet Shop!</p>
    </article>
  </section>


</div>
